{% extends 'comunes/index.html'%}
{% block contenido%}
    <h1>KARDEX</h1>
    <div class="Tab">
        <table class="table table-bordered">
            <thead class="table-dark">
              <tr>
                <th>Materia</th>
                <th>Bimestre 1</th>
                <th>Bimestre 2</th>
                <th>Bimestre 3</th>
                <th>Bimestre 4</th>
                <th>Bimestre 5</th>
               
                <th>Promedio</th>
                <th>Clico Escolar</th>

                
              </tr>
            </thead>
            
              <tr>
                <td>Español</td>
                <td>9</td>
                <td>8</td>
                <td>8</td>
                <td>9</td>
                <td>7</td>
                
                <td>8</td>
                <td>2020-2021</td>
                
              </tr>
              <tr>
                <td>Matematicas</td>
                <td>10</td>
                <td>8</td>
                <td>8</td>
                <td>8</td>
                <td>7</td>
                
                <td>8.3</td>
                <td>2020-2021</td>
              </tr>
              <tr>
                <td>Historia</td>
                <td>6</td>
                <td>7</td>
                <td>9</td>
                <td>6</td>
                <td>10</td>
                
                <td>7.2</td>
                <td>2020-2021</td>
              </tr>
              <tr>
                <td>Quimica</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
                <td>10</td>
                <td>6</td>
                
                <td>8.7</td>
                <td>2020-2021</td>
              </tr>
              <tr>
                <td>Geografia</td>
                <td>10</td>
                <td>9</td>
                <td>7</td>
                <td>7</td>
                <td>6</td>
                
                <td>8.5</td>
                <td>2020-2021</td>
              </tr>
              <tr>
                <td>Ciencias Naturales</td>
                <td>9</td>
                <td>10</td>
                <td>10</td>
                <td>9</td>
                <td>7</td>
                
                <td>9.2</td>
                <td>2020-2021</td>
              </tr>
              <tr>
                <td>Civica y Etica</td>
                <td>9</td>
                <td>8</td>
                <td>8</td>
                <td>9</td>
                <td>7</td>
                
                <td>8</td>
                <td>2020-2021</td>
              </tr>
              <tr>
                <td>Ed. Fisica</td>
                <td>9</td>
                <td>10</td>
                <td>10</td>
                <td>9</td>
                <td>10</td>
               
                <td>9.6</td>
                <td>2020-2021</td>
              </tr>
          </table>
    </div>
{%endblock%}